.category-list {
    margin-bottom: 2rem;
}
.category-list-title {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-primary);
}
.category-list-post-title {
    display: block;
    margin: 0 0 0.5rem 1.5rem;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
}
.category-list-post-title:last-child {
    margin-bottom: 0.5rem;
}