/* post list */
#post-list {
    margin-bottom: 10px;
}
#post-list a {
    display: flex;
    justify-content: space-between;
}
#post-list .post-list-wrapper {
    max-width: 420px;
}
#post-list .image-wrap {
    display: flex;
    align-items: center;
}
#post-list .post-list-img {
/* object-fit: scale-down; */
/* margin-bottom: 0; */
}
#post-list .post-list-title {
    font-size: 24px;
}
#post-list .post-list-excerpt {
    max-width: 400px;
    margin-bottom: var(--space-3);
    font-weight: 300;
    font-size: 16px;
    color: var(--post-item-excerpt-color);
}
#post-list .post-list-date {
    font-size: 16px;
}
.p-45 {
    padding: 2rem;
}
/*  */